@using DNRPS.POIMS.CommonResources;
@using DNRPS.POIMS.Web.Models;
@model MembershipModel

@{
    Layout = null;
}
<!DOCTYPE HTML>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.1.112/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.1.112/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.1.112/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.1.112/kendo.silver.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.1.112/kendo.dataviz.silver.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/kendo/2016.1.112/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2016.1.112/jszip.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2016.1.112/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2016.1.112/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
</head>
<body id="login">
    <div class="login_area">
        @using (Html.BeginForm())
        {
            <div class="login_topspac">
                <span class="login-logo">
                    <img src="@Url.Content("~/Images/logo-poims.png")" alt="" />
                </span>
            </div>
            <div class="login_middle">
                <div class="login_header">
                    <h2>Login Here</h2>
                    <span class="key_img">
                        <img src="@Url.Content("~/Images/key.png")" alt="" />
                    </span>
                </div>
                <div class="login_content">
                    <table cellspacing="10" cellpadding="0" class="login_data" style="border-collapse: separate;width:100%;border:0;">
                        <tr>
                            <td valign="top">
                                @Html.LabelFor(m => m.UserName)
                                @Html.TextBoxFor(m => m.UserName, new { @class = "txtfld" })
                                @Html.ValidationMessageFor(m => m.UserName)
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                @Html.LabelFor(m => m.Password)
                                @Html.PasswordFor(m => m.Password, new { @class = "txtfld" })
                                @Html.ValidationMessageFor(m => m.Password)
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                @(Html.Kendo().Button()
                                .Name("btnLogin")
                                .HtmlAttributes(new { type = "submit", @class = "k-primary" })
                                .Content(Names.Login))
                                <span class="forgot">
                                    <a href="#" id="ForgottenYourPassword">@Names.ForgottenYourPassword</a>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!--Login Area End-->
        }
    </div>
    <div id="divOverlay" class="overlay" style="display: none;">
        <div id="divLoading" class="loader">
            @Names.HtmlLoadingInProgress
        </div>
    </div>
    @Html.Raw(ViewBag.openPopup)
    <script type="text/javascript">
        $(document).ready(function () {
            $("#UserName").focus();
            $('#ForgottenYourPassword').on('click', function () {
                var width = 500;
                var height = 410;
                var left = parseInt((screen.availWidth / 2) - (width / 2));
                var top = parseInt((screen.availHeight / 2) - (height / 2));
                var windowFeatures = "width=" + width + ",height=" + height +
                    ",status,resizable,left=" + left + ",top=" + top +
                    ",screenX=" + left + ",screenY=" + top + ",scrollbars=no";

                var url = '@Url.Content("~/Membership/ForgotPassword")';
                var popup = window.open(url, "_blank", windowFeatures, "ForgotPassword");
            });
        });

    </script>
</body>


</html>



