@using DNRPS.POIMS.CommonResources
@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = string.Format(@Resources.WebPages.TitleFormat_Arg0Title, @Resources.WebPages.Error);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form_field">
    <div class="titlebg">
        <h2>@Resources.WebPages.Error</h2>
    </div>
    <div>
        <table style="width:100%;border:0" cellspacing="4" cellpadding="4">
            <tbody>
                <tr>
                    <td valign="top" class="errorMessage">
                        @if (String.IsNullOrEmpty(ViewBag.Error))
                        {
                            @Html.Raw(Errors.HtmlGenericErrorMessage)
                        }
                        else
                        {
                            @Html.Raw(@ViewBag.Error)
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

